$green-gradient: linear-gradient(#3cf166, #17de24);
$orange-gradient: linear-gradient(#f5e144, #ffa30f);
$red-gradient: linear-gradient(#fa2020, #ef0049);

@mixin respond($breakpoint) {
  @if $breakpoint == desktop-sm {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 850px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-width: 1199px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lgxl {
    @media (max-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xl {
    @media (max-width: 1500px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-width: 1800px) {
      @content;
    }
  }
}

@mixin respond-h($breakpoint) {
  @if $breakpoint == height-sm {
    @media (max-height: 600px) {
      @content;
    }
  }
}

@mixin respond-v($breakpoint) {
  @if $breakpoint == desktop-xsm {
    @media (max-height: 480px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media (max-height: 600px) {
      @content;
    }
  }
  @if $breakpoint == desktop-mds {
    @media (max-height: 700px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-height: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-height: 1199px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xl {
    @media (max-height: 1500px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-height: 1800px) {
      @content;
    }
  }
}

@function resize($base) {
  $result: $base * 0.9;
  @return $result;
}
@function calculate($val1, $val2) {
  $result: $val1 - $val2;
  @return $result;
}

// FONTS
@font-face {
  font-family: "HankRnd-Light";
  src: url("../fonts/Hank\ Rnd/EOT/HankRnd-Light.eot");
  src: url("../fonts/Hank\ Rnd/OTF/HankRnd-Light.otf") format("otf"),
    url("../fonts/Hank\ Rnd/WOFF2/HankRnd-Light.woff2") format("woff2"),
    url("../fonts/Hank\ Rnd/WOFF/HankRnd-Light.woff") format("woff"),
    url("../fonts/Hank\ Rnd/TTF/HankRnd-Light.ttf") format("truetype");
}

@font-face {
  font-family: "HankRnd-Regular";
  src: url("../fonts/Hank\ Rnd/EOT/HankRnd-Regular.eot");
  src: url("../fonts/Hank\ Rnd/OTF/HankRnd-Regular.otf") format("otf"),
    url("../fonts/Hank\ Rnd/WOFF2/HankRnd-Regular.woff2") format("woff2"),
    url("../fonts/Hank\ Rnd/WOFF/HankRnd-Regular.woff") format("woff"),
    url("../fonts/Hank\ Rnd/TTF/HankRnd-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HankRnd-Bold";
  src: url("../fonts/Hank\ Rnd/EOT/HankRnd-Bold.eot");
  src: url("../fonts/Hank\ Rnd/OTF/HankRnd-Bold.otf") format("otf"),
    url("../fonts/Hank\ Rnd/WOFF2/HankRnd-Bold.woff2") format("woff2"),
    url("../fonts/Hank\ Rnd/WOFF/HankRnd-Bold.woff") format("woff"),
    url("../fonts/Hank\ Rnd/TTF/HankRnd-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HankRnd-Black";
  src: url("../fonts/Hank\ Rnd/EOT/HankRnd-Black.eot");
  src: url("../fonts/Hank\ Rnd/OTF/HankRnd-Black.otf") format("otf"),
    url("../fonts/Hank\ Rnd/WOFF2/HankRnd-Black.woff2") format("woff2"),
    url("../fonts/Hank\ Rnd/WOFF/HankRnd-Black.woff") format("woff"),
    url("../fonts/Hank\ Rnd/TTF/HankRnd-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo-Thin";
  src: url("../fonts/Heebo/Heebo-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo-Light";
  src: url("../fonts/Heebo/Heebo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Heebo-Regular";
  src: url("../fonts/Heebo/Heebo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo-Medium";
  src: url("../fonts/Heebo/Heebo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo-Bold";
  src: url("../fonts/Heebo/Heebo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo-ExtraBold";
  src: url("../fonts/Heebo/Heebo-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo-Black";
  src: url("../fonts/Heebo/Heebo-Black.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  //font-size: 68%;
  @include respond(desktop-xxl) {
    font-size: 58%;
  }

  @include respond(desktop-xl) {
    font-size: 53%;
  }

  @include respond(desktop-md) {
    font-size: 48%;
  }
}

body {
  min-width: 600px;
}
header {
  font-family: "Heebo-Bold";
  z-index: 10000;
  .navbar {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
    font-family: "Heebo-Bold";
    background-color: #fdfdfd !important;
    border-bottom: 1px solid #e4e4e4;

    & a,
    & span {
      color: #000 !important;
    }

    &-left {
      font-size: 1.35rem;
    }

    &-center {
      font-size: 2.2rem;

      & img {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 50%;
      }
    }

    &-right {
      font-size: 1.3rem;
    }
  }

  .header-links {
    font-family: "Heebo-Regular";
    background-color: #fdfdfd !important;
    padding: 0;
    padding-top: 4rem;
    display: flex;
    border-bottom: 1.75px solid #e4e4e4;
    & ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;

      & li {
        padding-bottom: 1.2rem;
        margin-right: 2.6rem;
        & a {
          white-space: nowrap;
          text-decoration: none;
          font-size: 1.5rem;
          color: #8f8fa2;
        }

        &.active {
          font-family: "Heebo-Bold";
          position: relative;

          & a {
            color: #343441;
          }
          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1.75px;
            width: 120%;

            transform: translate(-10%, 100%);
            background-color: #fd2851;
          }
        }
      }
    }

    &-btn,
    &-btn:hover {
      font-family: "Heebo-Bold";
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      height: 2.8rem;
      display: block;
      margin-left: auto;
      padding: 0.5rem 1.2rem;
      font-size: 1.35rem;
      color: #fff;
      border-radius: 14px;
      background-color: #fd2851;
    }
  }
}

main {
  margin-top: 14rem;
}

.section-graph-cards {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.graph-card {
     height: 34rem;
     min-width: 36rem;
     width: 100%;
  max-width: 30%;
  padding-bottom: 3rem;
  border-radius: 4px;
  border: solid 1.5px #eaebee;

  &-header {
    padding: 2.6rem;
    padding-bottom: 1.6rem;

    & h3 {
      font-family: "Heebo-Bold";
      font-size: 2.5rem;
      font-weight: 700;
      color: #000;
    }

    & h4 {
      font-family: "Heebo-Regular";
      font-size: 1.2rem;
      color: #88888c;
    }
  }

  &-body {
    display: flex;
    justify-content: space-between;
    min-height: calc(100% - 9.9rem);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;

    & .bar {
      position: relative;
      padding-bottom: 4rem;
      width: 16px;
      height: auto;
      border-radius: 8px;
      background-color: rgba($color: #c1c0c8, $alpha: 0.24);

      &:first-child {
        @include respond(desktop-lgxl) {
          display: none !important;
        }
      }

      &-fill {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 8px;

        &-green {
          background: $green-gradient;
        }

        &-orange {
          background: $orange-gradient;
        }

        &-red {
          background: $red-gradient;
        }
      }

      &-info {
        font-family: "HankRnd-Bold";
        position: absolute;
        white-space: nowrap;
        left: 0;
        bottom: -7%;
        font-size: 1.15rem;
        font-weight: 700;
        color: #6f6e77;
        transform: translate(-15%, 100%);
        // @include respond(desktop-lg) {
        //   font-size: 1rem;
        // }

        //   @include respond(desktop-md) {
        //     font-size: 1rem;
        //   }

        //   @include respond(desktop-sm) {
        //     font-size: 1.2rem;
        //   }
      }
    }
  }
}

// UTILITIES

.options {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  margin-right: auto;
  font-size: 1.45rem;
  font-weight: normal;
  & a {
    color: #878590;

    &.active {
      font-weight: bold;
      color: #1a173b;
    }
  }

  & .divider {
    margin: 0 0.5rem;
    font-weight: bold;
  }
}

.p-default {
  padding-left: 12rem !important;
  padding-right: 12rem !important;

  @include respond(desktop-lg) {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }

  @include respond(desktop-md) {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
  }

  @include respond(desktop-sm) {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
